header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  padding: 14px;
}

ul.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

h2.logo {
  font-size: 36px;
  font-family: "Novelist";
  text-decoration: none;
  font-weight: 400;
  line-height: 36px;
}

li.item {
  font-size: 16px;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 600;
}
li.burger {
  display: none;
}

.line {
  width: 50%;
  height: 1px;
  background: #e0d7c5;
  margin: 0 auto;
}

.transparent {
  background-color: transparent;
  transition: all 0.5s ease 0s;
  color: #e0d7c5;
}

.transparent a{
  color: #e0d7c5;
  transition: all 0.5s ease 0s;
}
.scrolled {
  background-color: #f6f6f4;
  transition: all 0.5s ease 0s;
  color: #776f60;
}

.scrolled a {
  color: #776f60;
  transition: all 0.5s ease 0s;
}

@media screen {
  
}