header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  padding: 14px;
}

ul.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

h2.logo {
  font-size: 36px;
  font-family: "Novelist";
  text-decoration: none;
  font-weight: 400;
  line-height: 36px;
}

li.item {
  font-size: 16px;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 600;
}

li.burger {
  display: none;
}

.line {
  width: 50%;
  height: 1px;
  background: #e0d7c5;
  margin: 0 auto;
}

.transparent {
  background-color: transparent;
  transition: all 0.5s ease 0s;
  color: #e0d7c5;
}

.transparent a {
  color: #e0d7c5;
  transition: all 0.5s ease 0s;
}
.scrolled {
  background-color: #f6f6f4;
  transition: all 0.5s ease 0s;
  color: #776f60;
}

.scrolled a {
  color: #776f60;
  transition: all 0.5s ease 0s;
}

@media screen and (max-width: 887px) {
  header {
    padding: 21px 0;
  }
  .open {
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f4;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    transition: all 0.5s ease 0s;
  }
  li.item {
    display: none;
  }

  ul.menu {
    justify-content: flex-end;
  }

  .open li.item{
    display: block;
  }
  .open a {
    color: #776f60;
  }
  ul.menu.open {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .line {
    display: none;
  }

  li.burger {
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .burgerLine {
    width: 25px;
    height: 1px;
    background-color: #e0d7c5;
    transition: all 0.5s ease 0s;
  }
  .burgerLine::after,
  .burgerLine::before {
    content: "";
    display: block;
    width: 25px;
    height: 1px;
    background-color: #e0d7c5;
    transition: all 0.5s ease 0s;
  }
  .burgerLine::after {
    transform: translateY(-7px);
  }
  .burgerLine::before {
    transform: translateY(7px);
  }

  .open li.burger {
    position: absolute;
    right: 21px;
    top: 21px;
  }
  .open .burgerLine {
    background-color: transparent !important;
  }
  .open .burgerLine::after,
  .open .burgerLine::before {
    transform: translateY(0);
    transition: transform 0.3s ease 0s;
    background-color: #776f60;
  }
  .open .burgerLine::after {
    transform: translateY(-1px) rotate(45deg);
    transition-delay: 0.25s;
  }
  .open .burgerLine::before {
    transform: rotate(-45deg);
    transition-delay: 0.25s;
  }

  .scrolled .burgerLine {
    background-color: #776f60;
  }
  .scrolled .burgerLine::after,
  .scrolled .burgerLine::before {
    background-color: #776f60;
  }
}
